.g-clearfix:after {
  content: "";
  display: table !important;
  clear: both; }

.g-hidden {
  display: none; }

.g-input-field-error {
  outline: 2px solid red; }

BODY {
  margin: 0; }

.profile-info__user-avatar, .profile-info__user-name, .profile-info__user-profession {
  text-align: center;
  margin-top: 20px; }

.user-avatar {
  display: inline-block;
  position: relative;
  text-align: center; }

.user-avatar__image {
  border-radius: 50%;
  border: 2px solid grey;
  display: block;
  width: 80px;
  height: 80px; }

.user-avatar__trusted-count {
  position: relative;
  top: -3px;
  display: inline-block;
  background-color: rgba(29, 29, 29, 0.62);
  padding: 1px 10px;
  border-radius: 30%; }

.trusted-count__text {
  font-size: 0.85rem;
  color: white; }

.user-name {
  display: inline-block; }

.user-profession {
  display: inline-block; }

.user-profession__icon {
  vertical-align: middle;
  display: inline-block; }

.user-profession__text {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2rem;
  color: green; }

.user-profession__icon-image {
  display: block; }

.profile-icons {
  text-align: center;
  margin-top: 20px;
  background-color: #ECECEC;
  padding: 5px 0; }

.profile-icons__icon {
  display: inline-block;
  width: 75px;
  height: 60px;
  padding: 0 5px;
  background: center no-repeat; }

.icon-trusted {
  background-image: url(../img/trusted_big.png); }

.icon-profile {
  background-image: url(../img/profile_icon.png); }

.profile-comments {
  margin-top: 5px; }

.comment {
  margin-bottom: 5px; }

.comment-avatar {
  float: left;
  padding: 10px; }

.comment-body {
  overflow: auto; }

.comment-body__header {
  padding: 5px; }

.comment-body-header__commenter-name {
  display: inline-block; }

.comment-body__text {
  padding: 5px; }
