.profile-info__user-avatar, .profile-info__user-name, .profile-info__user-profession {
	text-align: center;
	margin-top: 20px;
}

.user-avatar {
	display: inline-block;
	position: relative;
	text-align: center;
}

.user-avatar__image {
	border-radius: 50%;
	border: 2px solid grey;
	display: block;
	width: 80px;
	height: 80px
}

.user-avatar__trusted-count {
	position: relative;
	top: -3px;
	display: inline-block;
	background-color: rgba(29, 29, 29, 0.62);
	padding: 1px 10px;
	border-radius: 30%;
}

.trusted-count__text {
	font-size: 0.85rem;
	color: white;
}

.user-name {
	position: relative;
	display: inline-block;
}

.user-name__edit-button {
	position: absolute;
	right: -30px;
	top: 0;
	width: 20px;
	height: 20px;
	background: $edit-button-picture;
}

.user-name__edit-field {
	display: inline-block;
	height: 20px;
	padding: 0;
	border: 1px solid grey;
	width: 200px;
}

.user-name__confirm-button {
	position: absolute;
	right: -60px;
	top: 0;	
	text-align: center;
	border-radius: 6px;
	margin-left: 10px;
	width: 50px;
	height: 20px;
	border: 1px solid grey;
}

.user-name__confirm-button-text {	
	vertical-align: middle;
}



.user-profession {
	display: inline-block;
}

.user-profession__icon {
  	vertical-align: middle;
	display: inline-block;
}

.user-profession__text {	
  	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	font-size: 1.2rem;	
	color: green;	
}

.user-profession__icon-image {
	display: block;
}