.profile-icons {
	text-align: center;
	margin-top: 20px;
	background-color: #ECECEC;
	padding: 5px 0;
}

.profile-icons__icon {
	display: inline-block;
	width: 75px;
	height: 60px;
	background: center no-repeat;
}

.icon-trusted {
	background-image: url(../img/trusted_big.png);
}

.icon-profile {
	background-image: url(../img/profile_icon.png);
}