.profile-icons {
	text-align: center;
	margin-top: 20px;
	background-color: lightgrey;
	height: 80px;
}

.profile-icons__icon {
	display: inline-block;
}

.icon-trusted {
	background: url();
}

.icon-profile {
	background: url();
}