.profile__contacts {
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

.user-mobile-number__number, .user-email__email {
	margin-top: 10px;
}

.contacts {
	font-size: 1.3rem;
}

.contacts__user-email {
	margin-top: 20px;
}