.profile-comments {
	margin-top: 5px;
}

.comment {
	margin-bottom: 5px;
}

.comment-avatar {
	float: left;
	padding: 10px;
}

.comment-body {
	overflow: auto;
	//border: 1px solid red;
	//margin-left: 104px;
}

.comment-body__header {
	padding: 5px;
}

.comment-body-header__commenter-name {
	display: inline-block;	
}

.comment-body__text {
	padding: 5px;
}